@charset "UTF-8";

:root {
    --cor1: #540B0E;
    --cor2: #9E2A2B;
    --cor3: #E09F3E;
    --cor4: #FFF3B0;
    --cor5: #335C67;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

header {
    height: 30vh;
    width: 100vw;
    background-color: black;
    background-image: url('../images/jester-teste1001.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

main {
    background-color: var(--cor4);
}

main > section {
    background-color: white;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
}